<div class="benefits top_border ">

  <h2 class="uppercase center top_padded">essences benefits</h2>

  <div class="">

    <p>Natural Probiotic / Improves Microbiota / Digestive System / Enhances Bioavailability / Blood Purifier  / PH Levels / Anti-Depressant / Immune Boost / Natural Antibiotic /  Lactic Acids / Phenolic / Antioxidant / Cell Rejuvenation / Reduces Stress / Anti-Aging / Libido</p>

  </div>

  <div class="auto_grid">

    <div class="illu_block hang_in_there_honey center uppercase">

      <div class="illu_svg">{% include svg/use.html id="icn--hang-in-there-honey" class="logo" %}</div>

      <div class="illu_title">feel peacefully grounded</div>
      <div class="illu_product">hang in there honey</div>
      <div class="illu_color_circle"></div>

    </div>

    <div class="illu_block punch_and_glory center uppercase">

      <div class="illu_svg">{% include svg/use.html id="icn--punch-and-glory" class="logo" %}</div>

      <div class="illu_title">trust and let go</div>
      <div class="illu_product">punch & glory</div>
      <div class="illu_color_circle"></div>

    </div>

    <div class="illu_block yummy_tummy center uppercase">

      <div class="illu_svg">{% include svg/use.html id="icn--yummy-tummy" class="logo" %}</div>

      <div class="illu_title">self love</div>
      <div class="illu_product">yummy tummy</div>
      <div class="illu_color_circle"></div>

    </div>

    <div class="illu_block aphrodisiac center uppercase">

      <div class="illu_svg">{% include svg/use.html id="icn--aphrodisiac" class="logo" %}</div>

      <div class="illu_title">aphrodisiac</div>
      <div class="illu_product">deliciously connected</div>
      <div class="illu_color_circle"></div>

    </div>

    <div class="illu_block center uppercase">

      <div class="illu_svg">{% include svg/use.html id="icn--booster" class="logo" %}</div>

      <div class="illu_title">abundantly actived</div>
      <div class="illu_product">booster</div>
      <div class="illu_color_circle"></div>

    </div>

  </div>

</div>
