

<div class="benefits">

  <div class="">

    <p>Natural Probiotic / Improves Microbiota / Digestive System / Enhances Bioavailability / Blood Purifier  / PH Levels / Anti-Depressant / Immune Boost / Natural Antibiotic /  Lactic Acids / Phenolic / Antioxidant / Cell Rejuvenation / Reduces Stress / Anti-Aging / Libido</p>

  </div>

  <div class="product_flexgrid benefits_block">

    <a href="{% link _wellnessshots/hang-in-there-honey.md %}" class="center uppercase hang_in_there_honey">

      <div class="illu_svg">
        {% include svg/use.html id="icn--hang-in-there-honey" class="logo" %}
      </div>

      <h4>
        <span class="product_title">feel peacefully grounded</span>
      </h4>
      <h5 class="illu_product">hang in there honey</h5>
      <div class="illu_color_circle"></div>

    </a>

    <a href="{% link _wellnessshots/punch-glory.md %}" class="center uppercase punch_and_glory ">

      <div class="illu_svg">{% include svg/use.html id="icn--punch-and-glory" class="logo" %}</div>

      <h4>
        <span class="product_title">trust and let go</span>
      </h4>
      <h5 class="illu_product">punch & glory</h5>
      <div class="illu_color_circle"></div>

    </a>

    <a href="{% link _wellnessshots/yummy-tummy.md %}" class="center uppercase yummy_tummy ">

      <div class="illu_svg">{% include svg/use.html id="icn--yummy-tummy" class="logo" %}</div>

      <h4>
        <span class="product_title">self love</span>
      </h4>
      <h5 class="illu_product">yummy tummy</h5>
      <div class="illu_color_circle"></div>

    </a>

    <a href="{% link _wellnessshots/aphrodisiac.md %}" class="center uppercase aphrodisiac">

      <div class="illu_svg">{% include svg/use.html id="icn--aphrodisiac" class="logo" %}</div>

      <h4>
        <span class="product_title">aphrodisiac</span>
      </h4>
      <h5 class="illu_product">deliciously connected</h5>
      <div class="illu_color_circle"></div>

    </a>

    <a href="{% link _wellnessshots/booster.md %}" class="center uppercase booster">

      <div class="illu_svg">{% include svg/use.html id="icn--booster" class="logo" %}</div>

      <h4>
        <span class="product_title">abundantly actived</span>
      </h4>
      <h5 class="illu_product">booster</h5>
      <div class="illu_color_circle"></div>

    </a>

  </div>

</div>
