{% include ascii_art_junglestar_banner.html %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.layout == "home" %} {{ page.title | capitalize }} {% else %} {{ site.title }} ♡ {{ page.title  | capitalize }}{% endif %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description  | truncate: 160 }}{% else %}{{ site.description | truncate: 160 }}{% endif %}">

  <meta name="keywords" content="{{ site.keywords }}">

  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:500&display=swap" rel="stylesheet">

  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css"> -->

  {% capture inline_css %}
    {% include main.scss %}
  {% endcapture %}
  <style>{{ inline_css | scssify }}</style>

  {% if site.google.verification %}
  <meta name="google-site-verification" content="{{ site.google.verification }}" />
  {% endif %}

  <meta name="version" content="{{ site.version }}">

  {% include favicons.html %}

  {% seo title=false %}

</head>
