
  <div class="menu_header_wrap">
    <div class="menu menu_header" role="menu">
    {% for item in site.menus.header %}

      {% if page.url contains item.url %}
        <a class="menu_item active" role="menuitem" href="{{ item.url }}" title="Go to {{ item.title | capitalize }}">{{ item.title  | capitalize }}</a>
      {% else %}
        <a class="menu_item" role="menuitem" href="{{ item.url }}" title="Go to {{ item.title | capitalize }}">{{ item.title  | capitalize }}</a>
      {% endif %}

    {% endfor %}
    </div>
  </div>
