<div class="product_grid">
  {% for post in site.wellnessshots %}
    {% unless post.publish %}
    <div class="product_block">
      <a class="product_link" href="{{ post.url }}" title="view: {{ post.title }}" >

        {% comment %}
        assign the page image and split at the extension dot
        {% endcomment %}

        {% assign f = post.image_with_background | split: '.' %}

        <img class="product_thumb" src="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }}"
             srcset="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }} 640w,
                     {{ f[0] | relative_url }}{{ include.name }}-880.{{ f[1] }} 880w,
                     {{ f[0] | relative_url }}{{ include.name }}-1024.{{ f[1] }} 1024w,
                     {{ f[0] | relative_url }}{{ include.name }}-1920.{{ f[1] }} 1920w"
             sizes="50vw" alt="{{ post.title }}, {{ post.medium }}">

        <div class="product_data product_title">
         <div class="product_data--content uppercase">{{ post.title }}</div>
        </div>

        <div class="product_data product_title">
         <div class="product_data--content">{{ post.subtitle }}</div>
        </div>

        <div class="product_data product_title">
         <div class="product_data--content uppercase">{{ post.function }}</div>
        </div>


      </a>
    </div>
    {% endunless %}
  {% endfor %}
</div>
