<div class="auto_grid">
  {% for post in site.wellnessshots reversed %}
    {% unless post.publish %}
    <div class="product_block">
      <a class="product_link" href="{{ post.url }}" title="view: {{ post.title }}" >

        {% comment %}
        assign the page image and split at the extension dot
        {% endcomment %}

        {% assign f = post.image_with_background | split: '.' %}

        <img class="product_thumb" src="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }}"
             srcset="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }} 640w,
                     {{ f[0] | relative_url }}{{ include.name }}-880.{{ f[1] }} 880w,
                     {{ f[0] | relative_url }}{{ include.name }}-1024.{{ f[1] }} 1024w,
                     {{ f[0] | relative_url }}{{ include.name }}-1920.{{ f[1] }} 1920w"
             sizes="50vw" alt="{{ post.title }}, {{ post.medium }}">

        <div class="product_infobox center">
          <h2 class="uppercase">
            <span class="product_title">{{ post.title }}</span>
          </h2>
          <h3 class="italic">
            <span class="product_subtitle">{{ post.subtitle }}</span>
          </h3>
          <h5>
            <span class="product_function uppercase">{{ post.function }}</span>
          </h5>
        </div>


      </a>
    </div>
    {% endunless %}
  {% endfor %}
</div>
