<div class="ritual_block top_padded">

  <h1 class="uppercase center top_padded">take with intention</h1>

  <h3 class="uppercase center ">savor your daily ritual</h3>
  <p class="center">We encourage checking in with the body’s needs before deciding on the blend, then set your intention.</p>

  {% comment %}
  assign the page image and split at the extension dot
  {% endcomment %}
  {% assign f = page.image_ritual | split: '.' %}

  <img class="ritual_image" src="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }}"
       srcset="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }} 640w,
               {{ f[0] | relative_url }}{{ include.name }}-880.{{ f[1] }} 880w,
               {{ f[0] | relative_url }}{{ include.name }}-1024.{{ f[1] }} 1024w,
               {{ f[0] | relative_url }}{{ include.name }}-1920.{{ f[1] }} 1920w"
       sizes="100vw" alt="Get ready to feel better!" />



  <div class="steps">

    <div class="step">
      <p class="step_overtitle center ">step 1</p>
      <h2 class="uppercase center">feel</h2>
      <p class="center">Close your eyes. Take a breath, ask:<br> <i>how do I feel today?</i> Do I need energy or healing?<br> Listen to what your body is telling you.</p>
    </div>


    <div class="step">
      <p class="step_overtitle center ">step 2</p>
      <h2 class="uppercase center">decide</h2>
      <p class="center">Decide and embrace the mood.<br> Select your essence.<br> We are all one decision away from taking control.</p>
    </div>


    <div class="step">
      <p class="step_overtitle center ">step 3</p>

      <h2 class="uppercase center">drink</h2>
      <p class="center">Hold your shot glass, set the intention, feel it, in all your senses. When ready... drink! It’s like making a wish for your birthday!</p>
    </div>


    <div class="step">
      <p class="step_overtitle center ">step 4</p>
      <h2 class="uppercase center">connect</h2>
      <p class="center">Take a couple of minutes to feel what it’s like to already be there. Intentions work best, when you connect to the emotion. Make it happen!</p>
    </div>


    <div class="step">
      <p class="step_overtitle center ">step 5</p>

      <h2 class="uppercase center">activate</h2>
      <p class="center">You are in essence, you have activated your senses, embrace the day, be amazing!</p>

      <p class="italic center">The ritual is complete.</p>
    </div>


  </div>

</div>
