.block_grid_container {
  .location_name {
    padding-left: $vertical_rhythm--small;
  }
}

.retailers_list {
  padding-left: $vertical_rhythm--small;
  list-style: none;

  a {
    color: $grey--black;
    &:hover {
      color: $grey--darker;
    }
  }

  li {
    height: 30px;
  }

  .address_icon {
    position: relative;
    left: -$vertical_rhythm--small*1.5;
  }
  .retailer_name {
    white-space: nowrap;
  }

  svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
  }
}
