.previos_next_navigator {
    position: relative;
    min-height: 80px;

    .right {
      margin: $vertical_rhythm--small;
      position: absolute;
      right: 0;
      top: 0;
      text-align: right;
    }

    .left {
      margin: $vertical_rhythm--small;
      position: absolute;
      left: 0;
      top: 0;
    }
}
