.benefits_block {
  svg {
    min-height: 300px;
  }

  .yummy_tummy .illu_product {
    color: #dce096;
  }
  .aphrodisiac .illu_product {
    color: #521616;
  }
  .punch_and_glory .illu_product {
    color: #91881f;
  }
  .hang_in_there_honey .illu_product {
    color: #d2990c;
  }
  .booster .illu_product {
    color: #b6272d;
  }


}
