---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="{% if page.layout == "product" %}product {{ page.slugtitle }}{% endif %} {% if page.layout == "drinks_benefits" %}product{% endif %} {{ page.title | slugify }} ">

    {% include svg/defs.html %}

    {% include header.html %}

    {% include header_menu.html %}

    <div class="bungkus group" role="main">

      <div class="container no_top_padding">

        <div class="content">

          {% unless page.layout == "product" %}

          <div class="content_header">

            <h1 class="center uppercase {% if page.layout == "wellness_drinks" %} bottom_padded{% endif %}"> {{ page.title | capitalize }}</h1>

            {% if page.subtitle %}
             <h2 class="center {% if page.layout == "wellness_drinks" %}uppercase bottom_padded top_padded{% endif %}"> {{ page.subtitle | capitalize }}</h2>
            {% endif %}

          </div>

          {% endunless %}

          <div class="content_body">{{ content }}</div>

        </div>

      </div>

    </div>

    {% if page.layout == "product" %}
    <div class="bungkus group top_border">

      {% include previous_next_nav.html %}

    </div>
    {% endif %}



    {% if page.title contains "orders" or page.title contains "retailers" %}
      {% include recycling.html %}
    {% endif %}

    {% include mailchimp-banner.html %}

    {% include footer.html %}


    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}

    {% include script_google_analytics.html %}


  </body>

</html>
