---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="home {{ page.title | slugify }}">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group" role="main">

      <div class="container small_padding">
        <h1 class="uppercase center">nourish, revive, heal.</h1>
      </div>

      {% include hero_block.html %}

      <div class="container product" >

        <h1 class="uppercase center">potent all-natural botanicals targeting gut health for maximum results.</h1>

        <div class="button_row">
          <a class="button uppercase" href="#">place your order today</a>
        </div>

        <h1 class="uppercase center top_padded">botanical wellness shots</h1>

        <div class="center">
          <p>Our recipes and methods combine the best of modern science with ancient wisdom to activate the plants and enhance their bio-availability.</p>
        </div>

        {% include products_intro_block.html %}


        <div class="center">
          <p>Live Essences wellness shots are 100% chemical free, made with blends of herbs, fruit and wild roots rich in natural vitamins, minerals, and antioxidants.</p>
          <p>All ingredients are matched to complement and reinforce their specific properties and to maximise their overall bio-availability.</p>
        </div>

        <div class="center">Enjoy our wellness shots in the following locations</div>

        <div class="button_row">
          <a class="button uppercase" href="/where-to-find-our-products/">where to find</a>
        </div>

        <h1 class="uppercase center top_padded">our range</h1>

        <div class="center">
          <p>We have created blends to provide outcomes such as nourished and energized body, balanced intestinal health, strengthened immune system or to slow aging.</p>
        </div>

        {% include products_grid_home.html %}

      </div>


    </div>

    {% include footer.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
