---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="product {{page.imagecode}}">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group" role="main">

      <div class="container">

        <div class="product_image_box">

          {% comment %}
          assign the page image and split at the extension dot
          {% endcomment %}

          {% assign f = page.image | split: '.' %}

          <img class="product_image" src="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }}"
               srcset="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }} 640w,
                       {{ f[0] | relative_url }}{{ include.name }}-880.{{ f[1] }} 880w,
                       {{ f[0] | relative_url }}{{ include.name }}-1024.{{ f[1] }} 1024w,
                       {{ f[0] | relative_url }}{{ include.name }}-1920.{{ f[1] }} 1920w"
               sizes="100vw" alt="{{ page.name }} - {{ page.subtitle }}" />

        </div>

        <div class="product_data product_title">
          <span class="product_data--content uppercase">{{ page.title }}</span>
         </div>

        {% if page.function %}
        <div class="product_data product_function">
          <span class="product_data--content uppercase">{{ page.function }}</span>
        </div>
        {% endif %}

        {% if page.selling-points %}
        <div class="product_data product_selling_points">
          <ul>
            {% for item in page.selling-points %}
             <li>{{item.phrase}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if page.ingredients %}
        <div class="product_data product_ingredients">
          <span class="product_data--content">{{ page.ingredients }}</span>
        </div>
        {% endif %}

        {% if page.prices %}
        <div class="product_data product_price">
          <span class="product_data--content uppercase">Price</span>
          <ul>
            {% for item in page.prices %}
             <li>{{item.price}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}



      </div>


    </div>

    {% include footer.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}

    {% include script_google_analytics.html %}


  </body>

</html>
