---
layout: default
---


<div class="block_grid_container">

  <div class="auto_grid">

    <div class="block">
      <h3 class="location_name uppercase">canggu</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "canggu" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>

    <div class="block">

      <h3 class="location_name uppercase">ubud</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "ubud" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>

    <div class="block">

      <h3 class="location_name uppercase">seminyak</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "seminyak" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>



    <div class="block">

      <h3 class="location_name uppercase">padang padang</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "padang padang" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>

    <div class="block">

      <h3 class="location_name uppercase">bingin</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "bingin" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>

    <div class="block">

      <h3 class="location_name uppercase">ungansan</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "ungansan" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>

    <div class="block">

      <h3 class="location_name uppercase">pecatu</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "pecatu" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>



    <div class="block">

      <h3 class="location_name uppercase">nusa dua</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "nusa dua" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>



    <div class="block">

      <h3 class="location_name uppercase">gili air</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "gili air" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>

    <div class="block">

      <h3 class="location_name uppercase">gili trawangan</h3>

      <ul class="retailers_list">
      {% for retailer in site.data.retailers %}
       {% if retailer.area_name == "gili trawangan" %}
        {% include retailers_list_inner_block.html %}
        {% endif %}
      {% endfor %}
      </ul>

    </div>

  </div>

</div>
